* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #141414;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px; /* Add padding to avoid clipping */
}

.calculator {
  width: 100%;
  max-width: 320px; /* Ensure max-width is set */
  padding: 20px;
  background: var(--background-body);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
